body,html{
    height: 100%;
    margin: 0;
    font-family:"Trebuchet MS",Helvetica, "Sans-serif";;
}
*{
    box-sizing: border-box;
}

/* Position text in the middle of the page/image */


.btn {
    border: 2px solid black;
    background-color: gainsboro;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 140px;
}
.info {
    border-color: #2196F3;
    color: dodgerblue

}

.info:hover {
    background: #2196F3;
    color: white;
}
.btn1 {
    border: 2px solid black;
    background-color: gainsboro;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

    position: absolute;
    top: 60px;
    right: 270px;
}
.info1 {
    border-color: #2196F3;
    color: dodgerblue

}

.info1:hover {
    background: #2196F3;
    color: white;
}
.btn2 {
    border: 2px solid black;
    background-color: gainsboro;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

    position: absolute;
    top: 60px;
    right: 400px;
}
.info2 {
    border-color: #2196F3;
    color: dodgerblue

}

.info2:hover {
    background: #2196F3;
    color: white;
}

/*FOOTER  left: 25px; **/
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;


}
.fa-facebook{
    background:#3B5998;
    color:white;
    position: absolute;
    left: 110px;

}
.fa-twitter{
    background: #55ACEE;
    color: white;
}


.fa-instagram {
    background: #125688;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}


.footer{
    position:absolute;
    left:16px;
    width: 100px;
    bottom: 8px;
    color:#1685A6;
    /**#63A0CC;**/
}
.logo img {
    width: 200px;
    height: auto;
    float: left;
}