*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display:inline-block;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Trebuchet MS","Helvetica", "Sans-serif";
    font-size: 15px;
}
.main-nav li.active a{
    border: 1px solid white;
}
.main-nav li a:hover{
    border: 1px solid white;
}
.logo img{
    width:150px;
    height: auto;
    float: left;

}
body{
    font-family:  "Trebuchet MS",Helvetica, Sans-serif;
}
.row{
    max-width: 1200px;
    margin: auto;
}
.hero{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1{
    color:white;
    /*text-transform: uppercase;*/
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    font-family:  "Comic Sans MS", cursive, sans-serif;
}
h4{
    color:white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
}
.buttn{
    margin-top: 30px;
    margin-left: 500px;
}
.btn{
    border: 1px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one{
    background-color:#5499C7;
    font-family: "Roboto","Sans-serif";
}
.btn-two{
    font-family: "Roboto","Sans-serif";
}
.btn-two:hover{
    background-color:#5499C7;
    transition: all 0.5s ease-in;

}