body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

.topnav {
    overflow: no-content;
    /*background-color: #eee;*/
    background: rgba(255, 255, 255, 0.8);
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    left: 3%;
    right: 3%;
    /*width: 100%; !* Full width *!*/
    z-index: 99;
}

.topnav img{
    max-height: 60px;
    max-width: 480px;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: left;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    }

.topnav a:hover {
    background-color: #4CAF50;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .topnav.responsive {position: absolute;}
    .topnav.responsive .icon {
        position: relative;
        left: 0;
        top: 0;

    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.responsive {
    width: 100%;
    height: 100%;
    /*max-height: 60px;*/
    /*max-width: 480px;*/
}
