body {font-family: Arial, Helvetica, sans-serif;
} /* image source https://www.freeimages.com/photo/wedding-1310947 */

.bg-text {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    text-align: center;
}

.bg-text1 {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through - For Details Forms */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 400px;
    padding: 20px;
    text-align: center;
}

.bg-text2 {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through - For Details Forms */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 850px;
    padding: 20px;
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    height: 12px;
    padding: 10px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 40px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2;
    left: 2px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 480px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screeens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*STYLE FOR sp_cat.php PAGE*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.sp_column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .sp_column {
        width: 100%;
        display: block;
    }
}

.sp_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sp_container {
    padding: 0 16px;
}

.sp_container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.sp_title {
    color:darkgoldenrod;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:darkseagreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.bt1 a{
    text-decoration: none;
}

.button:hover {
    background-color: #555;
}
/*body{*/
    /*height: 100vh;*/
    /*background-size: cover;*/
    /*background-position: center;*/
/*}*/

/*STYLE FOR search_providers.php*/
 .container {
     padding: 0 16px;
 }
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color:darkgoldenrod;
}
.row{
    max-width: 1200px;
    margin: auto;
}
.logo img{
    width: 200px;
    height:auto;
    float: left;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display:inline-block;
}
.main-nav li a{
    color: darkseagreen;
    text-decoration: none;
    padding: 5px 35px;
    font-family: "Trebuchet MS","Helvetica", "Sans-serif";
    font-size: 20px;
}
.main-nav li a:hover{
    border: 1px goldenrod;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #555;
}
body {
/*    height: 100vh;
    background-size: cover;
    background-position: center;*/
    background-image:url(../assets/images/wed.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*STYLE FOR Service_providers.php*/
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color:darkgoldenrod;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #555;
}

/*STYLING FOR pic_upload.php*/


/*code for mail form submission status messages*/
form:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    text-shadow: 1px 1px white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    margin-top: -150px;
    transition: all .3s;
}
form.emailjs-success:after,
form.emailjs-sending:after,
form.emailjs-error:after {
    margin-top: 0;
    transition: all .3s;
}
form.emailjs-sending:after {
    content: 'Sending message...';
    background: #000000;
}
form.emailjs-success:after {
    content: 'Message sent!';
    background: #1B5E20;
    color: white;
    text-shadow: -1px -1px black;
}
form.emailjs-error:after {
    content: 'Error : Try later';
    background: #B71C1C;
    color: white;
    text-shadow: -1px -1px black;
}

















