body{
    background-color: red;
}
header{
    background-color: green;
}
main{
    background-color: blue;
}
section{
    background-colour: yellow;
}
aside{
    background-color: orange;
}
article{
    background-color: purple;
}